<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chimp.Logging.Core" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Chimp.Logging.Extensions" version="0.3.0-alpha" targetFramework="net46" />
  <package id="DesktopToast" version="0.7.0-alpha" targetFramework="net46" />
  <package id="MetadataExtractor" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Options" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="1.1.2" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="1.1.1" targetFramework="net46" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="Net.Chdk.Core" version="0.3.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Base" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Camera" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Camera.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.CameraModel" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.CameraModel.Core" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Card" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Card.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Software" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Software.Chdk" version="0.4.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Software.Core" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Software.Fhp" version="0.4.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Software.Ml" version="0.4.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Software.Product" version="0.4.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Detectors.Software.Sdm" version="0.4.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Encoders.Binary" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Encoders.Binary.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Json" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Meta.Model.Camera" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Meta.Model.Camera.Eos" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Meta.Model.Camera.Ps" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Model.Camera" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Model.CameraModel" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Model.Card" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Model.Category" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Model.Software" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Base" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Boot" version="0.3.1-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Boot.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Camera" version="0.5.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Camera.Core" version="0.5.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Category.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Crypto" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Crypto.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Product" version="0.4.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Product.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Software" version="0.3.2-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Software.Chdk" version="0.4.1-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Software.Core" version="0.4.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Software.Ml" version="0.4.1-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Software.Product" version="0.4.2-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Providers.Software.Sdm" version="0.4.1-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Validators.Base" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Validators.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Validators.Software" version="0.2.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Watchers.Volume" version="0.1.0-alpha" targetFramework="net46" />
  <package id="Net.Chdk.Watchers.Volume.Core" version="0.1.0-alpha" targetFramework="net46" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net46" />
  <package id="Serilog" version="2.5.0" targetFramework="net46" />
  <package id="Serilog.Extensions.Logging" version="1.4.0" targetFramework="net46" />
  <package id="Serilog.Extensions.Logging.File" version="1.1.0" targetFramework="net46" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net46" />
  <package id="Serilog.Sinks.Async" version="1.1.0" targetFramework="net46" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net46" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net46" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net46" />
  <package id="System.Collections" version="4.3.0" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net46" />
  <package id="System.Console" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net46" />
  <package id="System.IO" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Linq" version="4.3.0" targetFramework="net46" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net46" />
  <package id="UsbEject" version="3.2.1-alpha" targetFramework="net46" />
  <package id="XmpCore" version="5.1.3" targetFramework="net46" />
</packages>